.bottom-panel {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #ffd900;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2,
}
.bottom-panel .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #555;
}

.bottom-panel .icon span {
    font-size: 12px;
    margin-top: 3px;
}
.bottom-panel-container {
    position: relative;
    z-index: 100;
}