body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  }
  
  a {
  color: #444;
  text-decoration: none;
  }
  
  a:hover {
  color: #ff8000;
  }
  
  p {
  color: #444;
  font-size: 16px;
  }
  
  h4 {
  font-family: Arial, sans-serif;
  }
  

  .custom-text-style {
    color: rgb(255, 238, 0);
    font-weight: bold;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }

  .container {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-content: flex-start;
  }
  
  .search-result {
  grid-column-end: span 3;
  color: #888;
  font-size: 13px;
  }
  
  .phone-number,
  .email {
  font-size: 11px;
  color: #444;
  margin: 0;
  }
  
  .social-network {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  }
  
  .social-network a:hover {
  color: #ff8000;
  }
  
  .social-network svg {
  width: 18px;
  height: 18px;
  margin: 6px;
  }
  
  .close,
  .check {
  cursor: pointer;
  min-width: 18px;
  }
  
  .close:hover {
  color: #ff0000;
  }
  
  .check:hover {
  color: #00cc00;
  }
  
  .pencil:hover {
  color: #ff8000;
  }
  
  .info {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .info-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-shadow: 0 0 1px #ffcf33;
  font-family: "Times New Roman" ;
  color:#ff0000 ;
  font-weight: bold;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  }
  
  .info-link:hover {
  text-shadow: 0 0 4px #ff8000;
  }
  
  .disabled {
  color: #888;
  }
  
  .clickable {
  cursor: pointer;
  }
  
  .clickable,
  .disabled {
  user-select: none;
  }
  
  .clickable:hover {
  transform: scale(1.1);
  }
  
  .star {
  color: #ffd700;
  animation: bounce 0.4s infinite alternate;
  }
  
  .star:hover {
  animation: none;
  }
  
  .no-animation {
  animation-play-state: paused;
  }
  
  .cursor-pointer {
  cursor: pointer;
  }
  
  .button-catalog {
  background-color: #f2f2f2;
  }
  
  .button-catalog:hover {
  background-color: #ffd966;
  }
  
  .card-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }
  

  
  .button-buy,
  .button-toCard {
  width: 100%;
  font-family: Arial, sans-serif;
  border: none;
  padding: 6px 10px;
  border-radius: 14px;
  position: relative;
  background-color: #fbff00;
  z-index: 1;
  }
  
  .button-buy {
  text-transform: uppercase;
  word-spacing: 0.1em;
  letter-spacing: 0.1em;
  font-weight: bold;
  }
  
  .button-buy:hover,
  .button-toCard:hover {
  background-color: #ffc400;
  color: #555;
  }
  
  .button-toMain,
  .button-delete {
  color: #444;
  border: none;
  padding: 8px 16px;
  border-radius: 28px;
  font-weight: bold;
  background: #f2f2f2;
  box-shadow: 0 0 4px lightgrey;
  }
  
  .button-delete {
  color: #fff;
  background: #a71a0a;
  }
  
  .button-toMain:hover {
  background-color: #ffcf33;
  }
  
  .button-delete:hover {
  background: #c0392b;
  }

  .button_navigation {
    background-color: orange;
    color: black;
    font-weight: bold;
  }

  .button_navigation:hover {
    background-color: yellow;
    color: black;
  }
  
  .child-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ff0000;
  }
  
  .modal-warning {
  bottom: -30%;
  left: -15%;
  z-index: 1;
  width: 100px;
  max-width: none;
  border: none;
  user-select: none;
  }
  


  .trash {
  min-width: 14px;
  }
  
  .trash:hover {
  color: #ff0000;
  }
  
  .pagination-custom a {
  color: #b38100;
  border-color: #ffcf33;
  }
  
  .pagination-custom a:hover {
  color: #b38100;
  border-color: #ffcf33;
  background-color: #faf5d8;
  }
  
  .pagination-custom {
  color: #444;
  }
  
  .pagination .active > .page-link {
  color: #b38100;
  border-color: #ffd966;
  font-weight: bold;
  background-color: #ffd966;
  }

  
  
  @keyframes bounce {
  0% {
  transform: translateY(0);
  }
  100% {
  transform: translateY(-6px);
  }
  }
  
  @media (min-width: 576px) {
  .container {
  grid-template-columns: repeat(3, 1fr);
  }
  }
