.title {
    font-size: 50px;
    color: #000000;
    font-weight: bold;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    }
    
    .description {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    font-family: "Arial Rounded MT Bold", Arial, sans-serif;
    }